<%- include('../partials/header') %>
<section id="show-page">
    <div>Brand: </div>
    <div><%= glaze.brand %></div>
    <div>Color: </div>
    <div><%= glaze.color %></div>
    <div>Style: </div>
    <div><%= glaze.style %></div>
    <div>Item Number: </div>
    <div><%= glaze.itemNumber %></div>
  </section>
<%- include('../partials/footer') %>